DB_HOST_PACIENTE_REGISTRO=localhost
DB_PORT_PACIENTE_REGISTRO=5432
DB_NAME_PACIENTE_REGISTRO=meubanco
DB_USER_PACIENTE_REGISTRO=postgres
DB_PASSWORD_PACIENTE_REGISTRO=senha_super_secreta
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672